{% extends 'store/base.html' %}
{% load static %}

{% block head_title %}{{ block.super }} | About{% endblock head_title %}

{% block scripts %}

    <script src={% static 'js/about.js' %} defer></script>

{% endblock scripts %}

{% block content %}

            <div class="container my-5">
                <div class="container text-center my-5">
                    <p class="intro"><span>MERchain</span> is an auction website where you can trade safely whatever you want with everyone without intermediaries.<br><br>
                        <span>MERchain</span> is not like a traditional auction website: the secret sauce we added is Blockchain, able to let customers interact
                        with each other with no rules and restrictions by any authority.<br><br><br><span>MERchain</span> is a very simple platform:</p>
                </div> 
                <div class="container text-center my-5">                   
                <div class="about-grid">
                    <h1 class="number slide-in from-left">1</h1>
                    <p class="slide-in from-right">Sign Up!</p>
                </div>
                <div class="about-grid">
                    <h1 class="number slide-in from-right">2</h1>
                    <p class="slide-in from-left">Open your own auction...</p>
                </div>
                <div class="about-grid">
                    <h1 class="number slide-in from-left">3</h1>
                    <p class="slide-in from-right">...or bid on someone else's!</p>
                </div>
                <div class="about-grid">
                    <h1 class="number slide-in from-right">4</h1>
                    <p class="slide-in from-left">When the deadline is reached all the infos related to the auction will be collected and notarized on the Ethereum Blockchain (Ropsten Testnet).</p>
                </div>
                <div class="about-grid">
                    <h1 class="number slide-in from-left">5</h1>
                    <p class="slide-in from-right">Search for the transaction scanning the Blockchain and check if your data are notarized...</p>
                </div>
                <div class="about-grid mb-5">
                    <h1 class="number slide-in from-right">6</h1>
                    <p class="slide-in from-left">See? You have just printed immutably this event on the Blockchain!</p>
                </div>
            </div>
            </div>
        </div>

{% endblock content %}
