{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}{{ block.super }} | Sell Your Stuff{% endblock head_title %}

{% block scripts %}

    <script src={% static 'js/newproduct.js' %} defer></script>

{% endblock scripts %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} text-center my-3" role="alert">
        <h6 class="my-3" id="messages">{{ message }}</h6>
    </div>
    {% endfor %}
    {% endif %}
    </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-8 text-center">

    <h1 class="mt-5">Sell your stuff</h1>

    <form  enctype="multipart/form-data" action="" method="POST" novalidate id="regForm">

    {% csrf_token %}

    <!-- One "tab" for each step in the form: -->
    <div class="tab">
        {{ form.name|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted my-2">
          Give a short a name to this item. Remember to use related keywords so that other users can find it easily.
        </small>
        {{ form.description|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted my-2">
          Give a full description of this item and all its features.
        </small>
    </div>

    <div class="tab">
        {{ form.image|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted my-2">
          Upload some images so that users can see what you are selling.
        </small>
    </div>

    <div class="tab">
        {{ form.price|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted my-2">
          Define an open bid. This is the mininum bid to begin the auction.
        </small>
        {{ form.deadline|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted my-2">
          Define a deadline to your auction. If there is no match when the deadline is reached your item will be deleted from our website.
        </small>
    </div>

    <div class="tab">
        <h6 class="my-3">Are you sure to submit this Auction?</h6>
    </div>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" class="btn btn-send" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" class="btn btn-send" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>

</form>
</div>
</div>

{% endblock content %}