{% extends 'store/base.html' %}
{% load static %}

{% block head_title %}{{ block.super }} | Store{% endblock head_title %}


{% block content %}

<div class="store container my-4">
        {% for product in products %}
        <div class="d-flex justify-content-center row my-4">
        <div class="product col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ product.image.url }}"></div>
                <div class="col-md-6 mt-1">
                    <a class="media-title" href="{% url 'product' pk=product.pk %}" data-abc="true"><h5 class="media-title font-weight-semibold">{{ product.name }}</h5></a>
                    <div class="mt-1 mb-1 spec-1"><a href="{% url 'profile' id=product.user.id %}" class="text-muted" data-abc="true">{{ product.user }}</a></div>
                    <p class="text-justify text-truncate para mt-4 mb-0">{{ product.description|truncatechars:300 }}<br><br></p>
                    <div class="mt-1 mb-1 spec-1 text-muted">Added on: {{ product.date_added }}</div>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                    {% if product.price < product.last_bid %}
                    <h3 class="my-4 font-weight-semibold">{{ product.last_bid }}$</h3>
                    {% else %}
                    <h3 class="my-4 font-weight-semibold">{{ product.price }}$</h3>
                    {% endif %}                    <h6>{{ product.deadline }}</h6>
                    <a href="{% url 'product' pk=product.pk %}"><button class="btn btn-send my-3" type="button">Details</button></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    
    {% if not products.count == 0 %}
      <nav>
        <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="nextPrev" href="?page={{ page_obj.previous_page_number }}" data-abc="true"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" data-abc="true">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}


            <li class="page-item active"><a class="page-link active" href="#" data-abc="true">{{ page_obj.number }}</a></li>
            
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" data-abc="true">{{ page_obj.next_page_number }}</a></li>    
                <li class="page-item"><a class="nextPrev" href="?page={{ page_obj.next_page_number }}" data-abc="true"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="row justify-content-center my-5"> 
    <h6>There are no products in our store! Be the first one: <a href="{% url 'newproduct' %}">Sell your stuff</a></h6>
    </div>
    {% endif %}

</div>





{% endblock content %}